extends ./../layout

block content
    .card
        .card-header Nowa aukcja
        .card-block
            form(action='/aukcja/nowa/', method='POST', enctype='multipart/form-data')
                .form-group
                    input(type='hidden', name='aukcjaId', value=aukcjaId)
                    label(for='input-tutul') Tytuł aukcji
                    input#input-tytul.form-control(name='tytul',placeholder='Tytuł aukcji')
                    p.text-danger.hidden-xs-up
                .form-group
                    label.fa.fa-picture-o(for='input-plik') &nbsp; Dodaj Zdjecia
                    input#input-plik.form-control-file._hidden-xs-up(type='file',name='plik',multiple)
                    div#plik-Placeholder.row

                .form-group
                    button#submit.btn.btn-primary.col-md-2(type='submit') Wyslij

block myscript
    script(src='/js/nowaAukcja.bundle.js')
