nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-md
    button.navbar-toggler.navbar-toggler-right(type='button',data-toggle='collapse', data-target='#navbar-content')
        span.navbar-toggler-icon
    a.navbar-brand(href="/")
       span.fa.fa-car.fa-2x
    div#navbar-content.navbar-collapse.collapse
        ul.navbar-nav.mr-auto
            li.nav-item.nav-link.dropdown
                a.dropdown-toggle(data-toggle='dropdown') Aukcja
                div.dropdown-menu(style='')
                   a.dropdown-item(href="/aukcja/nowa") Nowa
                   a.dropdown-item(href="/aukcja/wszystkie") Wszystkie



