doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.css')


        title= title

    body
        include ./navigation
        .container
            block content

            block footer

        block commonscript
            script(src="https://code.jquery.com/jquery-3.2.1.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js")

            script(src='https://use.fontawesome.com/4aa077842a.js')
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
        block myscript